.box {
 margin: 20px;
 border: 2px solid red;
 height: 300px;
}
#username {
 text-align: center;
}
#chat {
 height: 30px;
 width: 300px;
}
#chatbox {
 align-content: center;
 width: 50vw; 
 border: 1px solid black;
 height: 200px;
 overflow-y: scroll;
}

#join {
    display: none;
}